body{
  font-weight:300 !important;
}
.btns{
  border: none;
  outline: none;
  background: none;
}
.btns:hover{
  font-size: 17px;
  transition: all 300ms ease-out;
}
/* input:required {
  border: 1px solid red;
} */

